@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body{
    display: none;
}

.textui{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}


.title{
    background-color: #662d91;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    color: white;
}

.input-show{
    background-color: transparent;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    color: white;
    border: 2px solid white;
}
.input-effect{
    position: absolute;
    bottom: 1px;
    margin-left: 8px;
    animation-name: click;
    animation-duration: 0.3s;
    color: white;
    display: none;
    
}

.description{
    background-color: rgba(255, 255, 255, 0.938);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    animation-name: show;
    animation-duration: 0.2s;
    color: rgb(12, 12, 12);
    font-weight: 400;
}


@keyframes click {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(2.5); opacity: 0;}
}

@keyframes show {
    from {clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);}
    to {clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
}